<body class="bImg">
    

<div>
<h1 class="cardly">
Cardly 
</h1>
<p class="cardlyp" >  

<a href="/events/new" class="alink"> Create your Invitation and spread Happiness! <i class="tiny material-icons">mailoutline</i> </a>
</p>
</div>
</body>