<body class="bImg">
    

<div class="landing">
<div class="bg"></div>
<div>
<h1 class="cardly">
Cardly 
</h1>
<p class="cardlyp" >  
<%= link_to 'Create your Invitation and spread Happiness!', new_event_path, :class => "alink" %> </p>
</div>
</div>
</body>