<div>
  <h2> Hi <%= @invitation.name %>!</h2>
  <hr>
 <h3> You are inited to :</h3>
  <p>
  <%= @invitation.event%>
  </p>
  <img src=`http://api.qrserver.com/v1/create-qr-code/?data=$<%= @invitation.name%>!&size=100x100` alt="">
<p>
  I will be happy to see you <%= @invitation.name %>
  </p>
</div>
