/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	box-sizing: border-box;
}
header {
	text-align: center;
	background: white;
}

body {
	margin: auto;
	/* background-image: url("https://mbtskoudsalg.com/images/floral-frames-png-4.png");
	background-position: center;
	background-position-y: 100px;
	background-size: cover; */
	background: #dde7d8;
	background-repeat: no-repeat;
	font-family: 'Ubuntu', sans-serif;
}
.bImg {
	margin: 0;
	/* background-image: url("https://mbtskoudsalg.com/images/floral-frames-png-4.png");
    background-size: cover;
    background-position: center;
    background-position-y: 100px; */
	/* background: #c5a9a8b0; */
	/* background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif;
    background-size: 700px; */
}

nav {
	/* background: #d09683; */
	background: #abc28e;
}

a.color {
	/* color: black; */
	/* font-size: 35px; */
}

.home {
	align-content: center;
}
.landing {
	justify-content: center;
	display: flex;
	align-items: center;
	height: 90vh;
	text-align: center;
	position: relative;
	/* background-image: url("https://mbtskoudsalg.com/images/floral-frames-png-4.png");
    background-size: cover;
    background-position: center; */
	/* background-position-y: 100px; */
	/* background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif;
    background-size: 700px; */
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("https://mbtskoudsalg.com/images/floral-frames-png-4.png");
	background-size: cover;
	background-position: center;
	/* background-position-y: 100px; */
	background-repeat: no-repeat;
	font-family: 'Ubuntu', sans-serif;
	background-size: 700px;
	transform: rotate(0deg);
	animation-name: rotate;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.alink {
	/* color: #609078; */
	color: #9c494d;
	font-size: 20px;
}

.mail {
	background-color: aquamarine;
}

.form {
	width: 500px;
	margin: 10px 500px;
	background: white;
	opacity: 0.7;
	margin-bottom: 20px;
	padding: 30px;
}
.event {
	width: 500px;
	margin: 0px 100px;
	background: white;
	opacity: 0.7;
}
.send-form {
	width: 500px;
	background: white;
	opacity: 0.7;
	position: relative;
	bottom: 485px;
	left: 800px;
}

.invitees {
	width: 500px;
	background: white;
	opacity: 0.7;
	position: relative;
	bottom: 485px;
	left: 800px;
	padding: 0px 20px;
}

.button {
	background: #de9c9f;
	border-radius: 10px;
	color: white;
}
.button:hover {
	background-color: #c5767a;
	color: white;
}
