// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bImg {
	margin: 0;
	background-image: url("https://mbtskoudsalg.com/images/floral-frames-png-4.png");
	background-size: cover;
	background-position: center;
	background-position-y: 100px;
	/* background: #c5a9a8b0; */
	background-repeat: no-repeat;
	font-family: 'Ubuntu', sans-serif;
	background-size: 700px;
}
